:root {
  /* --xxlarge: 170px; */
  --xlarge: 100px;
  --large: 28px;
  --medium: 18px;
  --small: 16px;
  --xsamll: 14px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans KR", serif;
}

body {
  margin: 0 auto;
  width: 100%;
  background-color: blanchedalmond;
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main_container > .main_wrapper {
  text-align: center;
  /* position: fixed; */
}

.date {
  font-size: var(--large);
  font-weight: 500;
}

.time {
  font-size: var(--xlarge);
  font-weight: 400;
  margin-top: -20px;
}

.input {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px 20px;
  width: 100%;
  font-size: medium;
  border-radius: 30px;
  border: none;
}
.input::placeholder {
  color: white;
}

.quote {
  position: fixed;
  bottom: 20px;
  padding: 20px;
}

.bookmark_open {
  width: 300px;
  padding: 15px 30px;
  font-size: var(--xsamll);
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.bookmark_close {
  width: 300px;
  padding: 15px 30px;
  font-size: var(--xsamll);
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  color: black;
  cursor: pointer;
}

.bookmark_bar {
  width: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50px;
  right: 0;
  height: calc(100vh - 50px);
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  color: white;
}

.bookmark_input_form {
  display: flex;
  flex-direction: column;
}
